<h1>Dear, <%= @user.name %>, thank you for your order!</h1>
<p>Our manager will connect you as soon as possible!</p>
<p>Here is some details:</p>
<p>Order №<%= @order.id %></p>
<p>Created_at: <%= @order.created_at %></p>
<p>Products:</p>
<ul>
    <% @order.cart.cart_products.each do |cart_product| %>
      <li>
        <p><strong>Name:</strong> <%= cart_product.name %><br></p>
        <p><strong>Price:</strong> <%= cart_product.price %>$<br></p>
        <p><strong>Quantity:</strong> <%= cart_product.quantity %></p>
      </li>
    <% end %>
</ul>
<p>Total sum: <%= @order.order_information.total %>$</p>
<p>You can see this order on our <%= link_to 'website', @order %></p>
<h4>Have a good day!</h4>