<div class="col">
  <div class="card product-card">
    <%= link_to product, class: "product-link" do %>
      <div class="img-div">
        <%= image_tag product.insert_image, class: "card-img-top" %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <div class="price-cart">
          <h5 class="card-title">
            <strong>
              <%= number_to_currency(product.price, separator: ',', delimiter: ' ') %>
            </strong>
          </h5>
          <%= turbo_frame_tag "cart#{product.id}" do %>
            <object>
              <%= button_to 'Add to cart', cart_products_path(product_id: product.id),
                            data: { turbo_frame: "cart#{product.id}" },
                            class: 'btn btn-primary' %>
            </object>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

