<div class="col">
  <div class="card product-card">
<!--                <a class="product-link" href="/products/<%#= product.id %>">-->
    <div class="img-div">
      <% if product.image.attached? %>
        <%= image_tag product.image.variant(:thumb).blob, class: "card-img-top" %>
      <% else %>
        <%= image_tag 'https://i0.wp.com/tacm.com/wp-content/uploads/2018/01/no-image-available.jpeg?resize=768%2C510&ssl=1',
                      class: 'card-img-top' %>
      <% end %>
    </div>
    <div class="card-body">
<!--      <h5 class="card-title"><%#= product.name %></h5>-->
      <%= link_to "#{product.name}", product, class: 'card-title' %>
      <div class="price-cart">
        <h5 class="card-title">
          <strong>
            <%= number_to_currency(product.price, unit: '$', separator: ',', delimiter: ' ') %>
          </strong>
        </h5>
        <%# if user_signed_in? %>
        <%# if current_user %>
          <%= turbo_frame_tag "cart#{product.id}" do %>
            <%= button_to 'Add to cart', cart_products_path(product: product.id), data: { turbo_frame: "cart#{product.id}" },
                          class: 'btn btn-primary' %>
          <% end %>
        <%# end %>
      </div>
    </div>
<!--                </a>-->
  </div>
</div>