<div style="display: flex">
  <div class="flex-shrink-0 p-3 bg-black" style="width: 140px; margin-right: 40px; position: absolute; bottom: 0; top: 49px">

    <ul class="list-unstyled ps-0">
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="../" class="link-dark d-inline-flex text-decoration-none rounded" style="color: white; margin-bottom: 15px">All</a></li>
          <% categories = Category.all %>
          <% categories.each do |cat| %>
            <li><a href="../?category=<%= cat.title.downcase %>" class="link-dark d-inline-flex text-decoration-none rounded" style="color: white; margin-bottom: 15px"><%= cat.title %></a></li>
          <% end %>
        </ul>
      </div>
    </ul>

  </div>

  <div style="margin-left: 140px">
    <p style="color: green"><%= notice %></p>

    <%= render @product %>

    <div>
      <table>
        <tbody>
          <tr>
            <% if user_signed_in? %>
              <td style="padding-right: 20px"><%= button_to "Add to cart", "../cart_products?product=#{@product.id}", class: "btn btn-primary" %></td>
            <% end %>
            <td><%= link_to "Back to products", '/', class: "btn btn-primary" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
