<div class="flex-shrink-0 p-3 bg-black sidebar products-show-sidebar">
  <div class="collapse show" id="home-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li>
        <%= link_to 'All', root_path,
                    class: 'd-inline-flex text-decoration-none rounded sidebar-filter button-category' %>
      </li>
      <% Category.all.each do |cat| %>
        <li>
          <%= link_to "#{cat.title}", root_path(category: cat.title),
                        class: 'd-inline-flex text-decoration-none rounded sidebar-filter button-category' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div id="<%= dom_id @product %>" class="products-show-main-div">

  <table>
    <tbody>
      <tr>
        <td><%= image_tag @product.image.variant(:full).blob, class: 'products-show-image' %></td>
        <td class="text-td">
          <p class="name">
            <strong>Name:</strong>
            <%= @product.name %>
          </p>

          <p class="description">
            <strong>Description:</strong>
            <%= @product.description %>
          </p>

          <p>
            <strong>Category:</strong>
            <%= @product.category.title.capitalize %>
          </p>

          <p>
            <strong>Price:</strong>
            <%= number_to_currency(@product.price, unit: '$', separator: ',', delimiter: ' ') %>
          </p>

          <table>
            <tbody>
              <tr>
                <% if user_signed_in? %>
                  <td class="cart">
                    <%= button_to 'Add to cart', cart_products_path(product: @product.id),
                                  class: 'btn btn-primary' %>
                  </td>
                <% end %>
                <td><%= link_to 'Back to products', root_path, class: 'btn btn-primary' %></td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
    </tbody>
  </table>

</div>
