<div class="orders-index-main-div">
  <% if @orders.present? %>
    <div class="accordion" id="accordionExample">
      <% @orders.order(id: :desc).each do |order| %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-<%= order.id %>">
            <%= link_to "Order№#{ order.id }", order, class: 'accordion-button order-index-button', type: 'button',
                          'data-bs-toggle': 'collapse', 'data-bs-target': "#collapse#{ order.id }",
                'aria-expanded': 'true', 'aria-controls': "#collapse#{ order.id }" %>
          </h2>
          <div id="collapse<%= order.id %>" class="accordion-collapse collapse"
               aria-labelledby="heading<%= order.id %>" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p><b>Date:</b> <%= order.created_at %></p>
              <p><b>Status:</b> <%= order.order_status.capitalize %></p>
              <p><b>Payment:</b> <%= order.status_payment %></p>
              <p>
                <b>Total sum:</b>
                <%= number_to_currency(order.order_information.total, unit: '$', separator: ',', delimiter: ' ') %>
              </p>
              <%= link_to 'View this order', order, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h3 class="empty-message">Here is no orders, but you can change it ;)</h3>
    <div class="div-buttons">
        <%= link_to 'Go to products', root_path, class: 'btn btn-primary active-buttons' %>
    </div>
  <% end %>
</div>